html(ng-app="listingApp", ng-controller="listingCtrl")
	head
		title
			| NG-MD
		link(rel="stylesheet", href="/css/angular-material.min.css")
		link(rel="stylesheet", href="/css/materialize.min.css")
		link(rel="stylesheet", href="/css/styles.css")
		script(src="/js/angular.js")
		script(src="/js/angular-material.js")
		script(src="/js/angular-animate.js")
		script(src="/js/angular-aria.js")
		script(src="/js/TweenMax.min.js")
		script(src="/js/app.js")
	body(layout="row" flex)
		md-sidenav.md-sidenav-left.teal#mainLeft(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
			div.valign-wrapper.center-align(style="height:100px;")
				h4.valign(style="width:100%") Lisst!
		md-content(flex layout-padding)
			md-grid-list(md-cols-gt-md="12" md-cols-sm="1" md-cols-md="2" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="20px" md-gutter-gt-sm="4px" md-gutter="18px")
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="4")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="4")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="4")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				md-grid-tile.teal(md-colspan-gt-sm="3" md-rowspan-gt-sm="3")
					.card
						.card-image
							img(src="http://assets.materialup.com/uploads/5a881f99-9d15-4acf-8077-e68f12c0e2d8/todo_login.gif")
						.card-content
							h5 This is a card
				